.shbtn{
    height: 40px;
}
.adbtn{
    height: 40px;
    font-size: 13px;
    margin-top: 5px;
    margin-right: 13px;
    margin-bottom: 3px;
    
   
}
.cola{
    padding-top: 20px;
    background-color:#10385B;
    padding-bottom: 10px;
    color: whitesmoke;
}
.srtbtn{
    height: 28px;
    padding: 0px;
    margin-left:3px 3px;
}