// /* set entire body that is webpage */
// body{
// 	background:#fff;
// 	padding-top: 24vh;	
// }
// /* set form background colour*/
// form{
// 	background: #fff;
// }
// /* set padding and size of th form */
.form-container{
	border-radius: 10px;
	padding: 30px;
}
.log{
	margin:40px  auto;
	border: 1px solid grey;
	padding: 30px 30px;
	border-radius: 10px;

}
.logbtn{
	margin: auto;
}