<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="font-weight: 900; color:#10385B; font: size 14px;">EMPLOYEE MANAGEMENT SYSTEM</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/frontend/EmployeeManagement/src/app/employee-department/showleave/showleave.component.html" routerLink="/employee">Home</a>
              </li>
              <li class="nav-item dropdown">
               
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Front_end/src/app/apply-leave/apply-leave.component.html" routerLink="/leaveapply">Apply Leave</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page"  href="/Front_end/src/app/list-employee/list-employee.component.html" routerLink="/listleave">All Leaves</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Front_end/src/app/myprofile/myprofile.component.html" routerLink="/myprofile">Myprofile</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link active " aria-current="page" href="/frontend/EmployeeManagement/src/app/login/login.component.html" routerLink="/logout">Logout</a>
              </li>
              
             
            </ul>
            
          </div>
        </div>
      </nav>
</div>
